node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Logs
logs
*.log
npm-debug.log*

# Local env files
.env
.env.*
!.env.example
!netlify.env.example

# Build files
.netlify

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?